@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.bg-primary-core{
  background-color: #082CD9 !important;
}

.bg-primary-secondary{
  background-color: #EDF0FF !important;
}

.bg-danger-secondary {
  background-color: #FEEAE9 !important;
}

button{
  border-radius: 6px !important;
  opacity: 0.8;
}

.action_delete{
  width: 50px;
  height: 50px;
  background: rgb(219, 127, 127);
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50px;
  margin: 3px;
}